.hero {
    color: #fff;
    padding: 0.625rem 1.25rem 1.25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero__title {
    margin-bottom: 1.25rem;
    font-weight: bold;
}

.hero__text-line:not(:first-of-type) {
    margin-top: 0.625rem;
}