.product-item {
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 0;
}

.product-item__name {
    font-weight: bold;
}

.product-item__desc {
    font-style: italic;
    font-size: 0.875rem;
}

.product-item__price {
    color: #ff7f50;
    font-weight: bold;
}